.postLike {
    display: block;
}



.likeCounter {
    padding-left: 5px;
    border-left: 1px solid fuchsia;
    margin-left: 5px;
    margin-top: 2px;
}


#posts {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

#posts .col-sm {
	min-width: initial;
}